body{
    margin:0;
    padding:0;
    background-color: rgb(41, 33, 4);
    box-sizing: border-box;
}
.fontlogo{
    font-size:5vw;
}
.nav{
    font-size: 1vw;
}
.font{
    font-size:3vw;
}
.intro{
    text-align:center;
}
.z-index{
    position:fixed;
    left:0;
    right:0;
    z-index: 1;
}
.padding{
    padding-top: 12%;
}
h2{
    text-align: center;
}
@media all and (max-width:600px){
    .padding{
        padding-top: 50%;
    }
}